.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    color: #000000;
}

.modal {
    background: #FBFBFB;
    padding: 2rem;
    width: 20rem;
    border-radius: .5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cancelBtn {
    background-color: #DDDDDD;
    color: #000000 !important;
}
.deleteBtn {
    background-color: #F95959;
    color: #ffffff !important;
}