.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    color: #000000;
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: #37353E;
    font-weight: bold;
}

textarea, input {
    max-width: 100%;
    width: 97%;
    height: 2rem;
    border-radius: 4px;
    background-color: #eeeeee;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.enteredBodyText {
    color: #647FBC;
}

.modal {
    background: #FBFBFB;
    padding: 2rem;
    width: 20rem;
    border-radius: .5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cancelBtn {
    background-color: #DDDDDD;
    color: #000000 !important;
}
.editBtn {
    background-color: #647FBC;
    color: #ffffff !important;
}