.header {
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

.logo {
    font-size: 2rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #37353E;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #647FBC;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #DCDCDC;
  color: #647FBC;
}