.form {
    background: #DCDCDC;
    padding: 1rem;
    width: 20rem;
    border-radius: .5rem;
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: #37353E;
    font-weight: bold;
}

textarea, input {
    max-width: 100%;
    width: 97%;
    height: 2rem;
    border-radius: 4px;
    background-color: #eeeeee;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.enteredBodyText {
    color: #647FBC;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem
}

.actions button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    color: #eeeeee;
}
.submitBtn {
    background-color: #647FBC;
    color: #ffffff !important;
}
.cancelBtn {
    background-color: #ffffff;
    color: #000000 !important;
}