.post {
  background: #FBFBFB;
  padding: 1rem;
  margin: .2rem 0;
  border-radius: .5rem;
  text-align: center;
  color: #6E6D6D;
}

.title {
  font-size: 2rem;
  word-wrap: break-word;
}
.subtitle {
  font-size: 1rem;
  word-wrap: break-word;
}
  
.actionBtnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.deleteBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.editBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.deletePost {
  color: #F95959 !important;
  background-color: #DDDDDD;
}
.editPost {
  color: #37353E !important;
  background-color: #DDDDDD;
}