.posts {
    list-style: none;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.emptyText {
    color: #F08787;
    text-align: center;
}