.form {
    background: lightblue;
    padding: .5rem;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 6px;
    box-shadow: 0 2px, 8px rgba(0, 0, 0, 0.2);
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: blue;
    font-weight: bold;
}

textarea, input {
    max-width: 100%;
    width: 80%;
    height: 2rem;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
}